/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 @import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

// =============normal setting============

* {
  // border: solid 1px black;
  font-family: 'Roboto Mono', cursive;
}

@font-face {
  font-family: 'Roboto Mono', cursive;

}

body {
  

}

thead {
  background-color: #99BBFF ; 

}
table {
  width : 100%;

}


li {
  display: inline-block;
  position: relative;
  color: red;
  width: 95%;
  font-size: 14px;
}
.item-info
{
 

}

.button-style
{
 margin: 0 auto;
}
